
	body{
		background-color:#231f20;
	}

	h1.siteheader{
		color:#231f20;
		background-color: #e0ad48;
		height:100%;
		margin-top:-10px;
		margin-left:-10px;
		margin-right:-10px;
		padding-top:50px;
		padding-left:25px;
	}

	.intro-message{
		font-family:"Crimson";
		font-size:18px;
		color:white;
		padding-left:25px;
		margin-left:-10px;
		margin-bottom:50px;
	}

	.crane {
		max-width:100%;
	}

	.top-birds{
		margin:25px;
	}

	.top-names{
		font-family:Helvetica;
		color:white;
		padding:10px;
	}

	.bottom-birds {
		margin:25px;
	}

	.bottom-names {
		font-family:Helvetica;
		color:white;
		padding-right:10px;
	}


/*******  BEGIN MEDIA QUERIES *******/

/* 481px - 768px */
@media screen and (min-width:480px) {
      body{
            background: #FF0000;  /* Red */
      }

	h1.siteheader {
		font-size:50px;
	}

	.intro-message{
		font-size:18px;
	}

	.top-birds{
		list-style-type:none;
		width:200px;
		display:inline;
	}

	.crane{
		max-width:100%;
	}

	.top-names{
		font-size:16px;
		padding:0px;
		margin:0px;
	}

	.bottom-birds{
	}

	.bottom-names{
		font-size:16px;
		padding:0px;
		margin:0px;
	}
}

/* 768px - 1024px */
@media screen and (min-width:768px) {
      body{
            background: #00FF00;   /* Green */
      }

	.intro-message{
		font-size:16px;
	}

	.top-birds{
	}

	.crane{
	}

	.top-names{
	}

	.bottom-birds{
	}

	.bottom-names{
	}
}

/* 1024px and Larger  */
@media screen and (min-width:1024px) {
    body{
      	background: #0000FF;   /* Blue */
    }
    
    .intro-message{
		font-size:16px;
	}

	.top-birds{
	}

	.crane{
	}

	.top-names{
	}

	.bottom-birds {
	}

	.bottom-names{
	}
}