
.siteheader{
	color: white;
	font-family: Helvetica;
	font-size: 40px;
	

}

.Ivory-billed-title{

	font-family: Helvetica;
	color: #e0ad48;

}

.Ivory-section{
	background-color: #e0ad48;

}

.bird-info{
	font-family:;
	color: white;
	font-family:'Crimson Text', serif; 



}

















