
.siteheader{
	color: white;
	font-family: Helvetica;
	font-size: 40px;
	

}

.Ivory-billed-title{

	font-family: Helvetica;
	color: #e0ad48;
	margin-bottom: -7px;
	text-align: center;
	font-size: 30px;
}

.Ivory-section{
	background-color: #e0ad48;
	width:290px;
	margin-bottom: 45px;

}

.bird-info{
	font-family:;
	color: black;
	font-family:'Crimson Text', serif; 
	padding: 10px;


}

.ivorybill_text_img {
	width: 290px;

}

.Piping-section {
	background-color:#758c48;
	width: 290px;
	margin-bottom: 45px;


}
.Piping-plover-title{
	font-family: Helvetica;
	color:#758c48;
	margin-bottom: -7px;
	text-align: center;
	font-size: 30px;
}
.plover_text_img {
	width: 290px;
}

.crane-section{
	background-color: #e0ad48;
	width:290px;
	margin-bottom: 45px;
}
.Crane-title{
	font-family: Helvetica;
	color: #e0ad48;
	margin-bottom: -7px;
	text-align: center;
	font-size: 30px;
}
.crane_text_img{
	width: 290px;
}

.iiwi-section {
	background-color:#758c48;
	width: 290px;
	margin-bottom: 45px;
}

.iiwi-title{
	font-family: Helvetica;
	color:#758c48;
	margin-bottom: -7px;
	text-align: center;
	font-size: 30px;
}

.iiwi_text_img{
	width: 290px;
}

.warbler-section{
	background-color:#e0ad48;
	width: 290px;
	margin-bottom: 45px;
}
.warbler-title{
	font-family: Helvetica;
	color: #e0ad48;
	margin-bottom: -7px;
	text-align: center;
	font-size: 30px;
}
.warbler_text_img{
	width: 290px;
}

.nene-section{
	background-color:#758c48;
	width: 290px;
	margin-bottom: 45px;
}
.nene-title{
	font-family: Helvetica;
	color:#758c48;
	margin-bottom: -7px;
	text-align: center;
	font-size: 30px;
}

.nene_text_img{
	width: 290px;
}
/*******  BEGIN MEDIA QUERIES *******/

/* 481px - 768px */
@media screen and (min-width:480px) {
      body  {
            background:#FF0000;  /* Red */
      }

	h1.siteheader {
		font-size:50px;
	}

	.intro-message{
		font-size:18px;
	}

	.top-row-birds{
		max-width:100%;
		height:auto;
	}

	.top-row-birds img{
		padding:10px;
	}

	.top-row-bird-names{
		margin-bottom:2px;
		font-size:16px;
	}

	.bottom-row-birds{
		max-width:100%;
		height:auto;
	}

	.bottom-row-birds img{
		padding:10px;
	}

	.bottom-row-bird-names{
		margin-bottom:2px;
		font-size:18px;
	}


	.Ivory-section{
		width: 665px;
	}

	.ivorybill_text_img {
		width: 502px;
		margin-left: 75px;
	}

	.title {
		font-size: 40px;
	}

	.sections{
		width: 665px;
		margin: auto;
	}

	.text_img{
		width: 502px;
		margin-left: 75px;
	}

	.Ivory-billed-title{
		clear: both;
		position: relative;
}


/* 768px - 1024px */
@media screen and (min-width:768px) {
      body{
            background:#00FF00;   /* Green */
      }

	.intro-message{
		font-size:16px;
	}

	.top-row-birds{
		width:100%
	}

	.top-row-birds img{
		width:250px;
	}

	.top-row-bird-names{
		margin-bottom:2px;
		list-style-type:none;
	}

	.bottom-row-birds{
		width:100%;
		height:auto;
	}

	.bottom-row-birds img{
		width:250px;
	}

	.bottom-row-bird-names{
		margin-bottom:2px;
		list-style-type:none;
	}

	.sections{
		width: 882px;
		height: 306px;
	}

	.text_img{
		float: left;
		margin-left: 25px;
		margin-right: 12px;
	}

	.ivorybill_text_img {
		width: 369px;

	}

	.plover_text_img {
		width: 399px;
	}
	.crane_text_img {
		width: 428px;
	}

	.iiwi_text_img {
		width: 418px;
	}

	.warbler_text_img{
		width: 302px;
	}

	.nene_text_img {
		width: 458px;
	}

	.title{
		margin-bottom: -25px;
	}
}

/* 1024px and Larger  */
@media screen and (min-width:1024px) {
      body{
            background: #0000FF;   /* Blue */
      }
    
    .intro-message{
		font-size:16px;
	}

	.top-row-birds{
	}

	.top-row-birds img {

	}

	.top-row-bird-names{
		list-style-type:none;
		display:inline-block;
		margin-bottom:2px;
	}

	.bottom-row-birds {
	}

	.bottom-row-birds img {

	}

	.bottom-row-bird-names{
		list-style-type:none;
		display:inline-block;
		margin-bottom:2px;
	}

	.text_img{
		margin-left: 37px;
	}

	.sections{
		width: 1200px;
	}

	.bird-info{
		font-size: 20px;
	}
	.title{
		margin-bottom: -29px;
	}
}
















