
body {

background-color:#231f20;
}



.intro-message{
font-family:"Crimson";
font-size:20px;
color: white;
}

.top-row-birds{

}

.top-row-bird-names{


}

.bottom-row-birds {


}

.bottom-row-bird-names {

	
}





